@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.conveyor-belt-right {
  /* overflow: hidden; */
  animation-name: slideRight;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.conveyor-belt-left {
  /* overflow: hidden; */
  animation-name: slideLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Define animation directions */
@keyframes slideRight {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-2212px); } 
  /* 12 images*300px + 15*12 */
}

@keyframes slideLeft {
  0% { transform: translateX(-2212px); }
  100% { transform: translateX(0%); }
}

.example-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);

  /* border-radius: 0.5rem; */
  /* opacity: 0; */
  transition: all 0.3s ease;
}

/* Apply animation */
.loadingNote {
  animation: slide 1s ease infinite;
}

@keyframes slide {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
